{% extends 'base.html'%}
{% block body %}
<div class="page-header">
  <h1>InfoQ Helper Logs</h1>
</div>

<div class="well form-inline">
  <b>2012-3-27</b>
  初始化版本<br/>
  <span class="label label-important">Bugs:</span> 1 SAE上数据库链接超时 2 strptime在SAE上存在bug 3 cron错误<br/>
  <span class="label label-info">Feature:</span> 1 文章发布格式转换 2 文章发布分享微博 3 定时发送每日中英文站内容
</div>
<div class="well form-inline">
  <b>2012-3-28</b>
  0.1.0版本<br/>
  <span class="label label-success">Fixed:</span>1 SAE cron错误修复 <br/>
  <span class="label label-important">Bugs:</span> 1 SAE上数据库链接超时 2 strptime在saw上存在bug <br/>
  <span class="label label-info">Feature:</span> 1 文章发布格式转换 2 文章发布分享微博
</div>
<div class="well form-inline">
  <b>2012-3-29</b>
  0.1.1版本<br/>
  <span class="label label-success">Fixed:</span>1 SAE上数据库链接超时 <br/>
  <span class="label label-important">Bugs:</span> 1 strptime在saw上存在bug <br/>
  <span class="label label-info">Feature:</span> 1 文章发布格式转换 2 专家信息管理 3 错误异常处理
</div>
{% endblock%}