<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>InfoQ China Helper---beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="InfoQ China的信息管理工具">
    <meta name="author" content="magicshiu">
    <script src='static/js/jquery-1.7.2.min.js'></script>
    <!-- Le styles -->
 
    <link href="static/css/datepicker.css" rel="stylesheet">

    <link href="static/css/humane.css" rel="stylesheet">
     <link href="static/css/bootstrap.css" rel="stylesheet">
       <style type="text/css">

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: lightblue;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

    </style>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/joyride-1.0.3.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="static/fav.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/core-index">InfoQ Raven : beta</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/core-index">Home</a></li>

                            <li><a  href="mailto:arthur@infoq.com&subject=QA" class=''>Feedback</a></li>

            </ul>
            
            <ul class="nav pull-right">
             <li><a href="#">{{session['user'].cat}}</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{session['user'].user}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="logout">退出</a></li>
                
                <li class="divider"></li>
                <li><a href="http://infoq.com/cn">InfoQ</a></li>
              </ul>
            </li>
          </ul>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">

          <div class="well sidebar-nav">
            <ul class="nav nav-list">
                
 <li class="nav-header"><h4><i  class="icon-tags icon-black"></i>站点数据</h4></li>
              <li><a id='num-rsssearch' href="rsssearch">RSS数据查询</a></li>

 <li class='nav-header'><h4><i  class="icon-home icon-black"></i>OD</h4></li>
                             <li><a id='num-taskadd' href="contentdashboard">概览</a></li>
              <li><a id='num-taskadd' href="od">Arthur's OD</a></li>


 <li class='nav-header'><h4><i  class="icon-star icon-black"></i>内容管理</h4></li>
              <li><a id='num-taskadd' href="setmaincatall">设置领域</a></li>
                <li><a href="changemaincatall">查看并修改</a></li>



                            <li class='nav-header'><h4><i  class="icon-star icon-black"></i>翻译新闻</h4></li>
              <li><a id='num-taskadd' href="beannewspick">领取新闻</a></li>
               <li><a id='num-taskadd' href="beannewstodone">提交新闻</a></li>
              <li><a href="beanpending">翻译中</a></li>
                            
         <li class='nav-header'><h4><i  class="icon-star icon-black"></i>原创线索</h4></li>
              <li><a id='num-taskadd' href="sesametopick">领取线索</a></li>
               <li><a id='num-taskadd' href="sesametodone">提交完成</a></li>
           

 <li class='nav-header'><h4><i  class="icon-star icon-black"></i>工作量</h4></li>

                <li><a href='countwall'>编辑总览</a></li>
                                          <li><a id='num-taskadd' href="countsearch">时间段工作量查询</a></li>
                            <li><a id='num-taskadd' href="countauthor">编辑工作量查询</a></li>





 <li class='nav-header'><h4><i  class="icon-fire icon-black"></i>GOF</h4></li>
              <li><a id='num-taskadd' href="gof36notpick">36小时未领取</a></li>
                            <li><a id='num-taskadd' href="gof36notdone">已领取超期</a></li>
                <li class='nav-header'><h4><i  class="icon-envelope icon-black"></i>通知中心</h4></li>
              <li><a id='num-taskadd' href="notifycenter">查看</a></li>

                         
                         
<!--              <li><a id='num-staticrss' href="urltop">url转为可读数据</a></li>
              <li class="nav-header"><h4><i class="icon-home icon-black"></i>发布文章编辑</h4></li>
              <li><a id='num-editor' href="editor">编辑器</a></li>
              <li class="nav-header"><h4><i class="icon-star icon-black"></i>编辑关系管理</h4></li>
              <li><a href="edone">编辑</a></li>
              <li><a href='edall'>编辑汇总</a></li>
              -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

        <div class="alert2 fade in alert">
        
            <button data-dismiss="alert" class="close fade" type="button">×</button>
            <strong><p class='alertvalue'></p></strong> 
          </div>
                  {% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
     <div class="alert alert-info">
       {{message}}
</div>
    {% endfor %}
  {% endif %}
{% endwith %}


          {% block body %}
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; InfoQ China 2012 </p>
        <p>Coded by <a href="http://weibo.com/magicshui">麦可思哲</a> using sublimet text 2 & python | Theme power by <a href="http://twitter.github.com/bootstrap"> bootstrap</a> | Hosted by <a href="http://sae.sina.com.cn">SAE</a></p>
      </footer>

    </div><!--/.fluid-container-->
    {% block tips %}
    {% endblock%}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

        <script src='static/js/jquery.joyride-1.0.3.js'></script>


    <script src="static/js/bootstrap-modal.js"></script>
        <script src="static/js/bootstrap-alert.js"></script>
     <script src="static/js/d3.v2.min.js"></script>
          <script src="static/js/show_trends.js"></script>
 
  <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-typehead.js"></script>
  <script src="static/js/bootstrap-datepicker.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/humane.js"></script>
    <script src="static/js/mustache.js"></script>
    <script src="static/js/handlebars.js"></script> <script src="static/js/bootstrap-popover.js"></script>
      <script src='static/js/shortcuts.js'></script>
    <script src="static/js/bootstrap-collapse.js"></script>
              <script src="static/js/sortable.js"></script>
     
    <script>
    $(document).ready(function(){
    humane.timeout = 5000 ;
     $('.alert2').hide();
                           $('.alert2').bind('closed', function () {
                                         $('.alertvalue').text('');
   
    });
      waitForMsg();

      $("#joyRideTipContent").hide();
      $("#show-guide").click(function(){
        <!-- fix the error when click help comes two or more guides-->
        $(".joyride-tip-guide").remove();
        
        $(this).joyride();

      });
      
      
     $('.date-picker').datepicker({
				format: 'yyyy-mm-dd'
			});
                        
                   
                        
      $("#feedback-btn").click(function(){
      	$.ajax({
		type: "post",
		url: "feedback",
		data: 'title='+$("#feedback-title").val()+"&content="+$('#feedback-content').val(),
		beforeSend: function(XMLHttpRequest){
			//ShowLoading();
		},
		success: function(data, textStatus){
			alert(data);
                  //$("#feedbackModal").modal('toggle')；
		},
		complete: function(XMLHttpRequest, textStatus){
			//HideLoading();
		},
		error: function(){
			//请求出错处理
		}
                
});
      });
      {% block script %}
      {% endblock%}
    
    });
    </script>
    
    {% block blewscript %}
    {% endblock%}

<script type="text/javascript">
  key('ctrl+c', function(){ showClue();});


     function showClue(){
  var source   = $("#clue-template").html();
  var template = Handlebars.compile(source);
  var context = {id: ''};
 var html    = template(context);
  $('body').append(html);
  $('#clueModal').modal('show');

};


 function addAClue(){
var request = $.ajax({
  url: "addasesame",
  type: "POST",
  data: 'title='+$('#clue-title').val()+'&content='+$('#clue-content').val()+"&cat="+$('#clue-cat option:selected').val(),
});

request.done(function(msg) {
if(msg=='ok'){
 
  humane.log('ok');

};

$('#clueModal').modal('toggle').remove();


});

request.fail(function(jqXHR, textStatus) {
 humane.log('error');
});
};

</script>
<script id="clue-template" type="text/x-handlebars-template">

<div class="modal hide" id="clueModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>添加线索</h3>
    </div>
    <div class="modal-body">
    <p> 
      <input type="text" id='clue-title' value='' > 
      <select width='48px'  class=' span2 ' id='clue-cat' name='main_cat'>
                  <option value='yy'>语言&开发</opion>
                  <option value='jg'>架构&设计</opion>
                  <option value='gc'>过程&实践</opion>
                  <option value='yw'>运维&基础架构</opion>
                  <option value='qy'>企业架构</opion>
                </select>
      <hr/>
        <textarea  id='clue-content' value='' class='span5' placeholder=''>   </textarea>
         </p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="javascript:addAClue();" class="btn btn-primary">发送</a>
    </div>
    </div>
</script>
  </body>
</html>