<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>InfoQ China Helper---beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="InfoQ China的信息管理工具">
    <meta name="author" content="magicshiu">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/joyride-1.0.3.css" rel="stylesheet">
    <link href="static/css/timeline.css" rel="stylesheet">
   

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
<style type="text/css">#timeline{
margin:0px !important;
border:0px solid #CCC !important;
padding:0px !important;
-webkit-border-radius:0px !important;
-moz-border-radius:0px !important;
border-radius:0px !important;
-moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
-webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
box-shadow:0px 0px 0px rgba(0, 0, 0, 0.25) !important;
}</style>


  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">InfoQ Helper : beta</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a id='show-guide' class='label label-info'>帮助</a></li>
                            <li><a id='show-feedback' class='label label-important' data-toggle='modal' href="#feedbackModal" class=''>Feedback</a></li>
                                  </ul>
            
            <p class="navbar-text pull-right"  id='num-login'>Logged in as <a data-toggle='modal' href="#loginModal">{{session['user']}}</a></p>
           
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">

          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><h4><i   class="icon-home icon-black"></i>微博数据</h4></li>
              <li ><a id='num-go' href="go">认证授权</a></li>
              <li><a  id='num-weibor' href="weibor">获取微博数据</a></li>
              <li><a id='num-weiboresult' href="weiboresult">时间段内数据</a></li>

              <li class="nav-header"><h4><i  class="icon-tags icon-black"></i>站点数据</h4></li>
              <li><a id='num-rss' href="rss">获取中英文站数据</a></li>
                <li><a id='num-mailadd' href="mailadd">添加邮件接收地址</a></li>
              <li><a id='num-maildel' href="maildel">删除邮件接收地址</a></li>
              <li><a id='num-mail' href="mail">发送昨日更新列表邮件</a></li>
              <li><a id='num-rsssearch' href="rsssearch">RSS数据查询</a></li>

              <li class='nav-header'><h4><i  class="icon-star icon-black"></i>统计</h4></li>
              <li><a id='num-staticrss' href="staticrss">文章深度内容微博</a></li>

              <li class="nav-header"><h4><i class="icon-home icon-black"></i>发布文章编辑</h4></li>
              <li><a id='num-editor' href="editor">编辑器</a></li>
              <li class="nav-header"><h4><i class="icon-star icon-black"></i>编辑关系管理</h4></li>
              <li><a href="edone">编辑</a></li>
              <li><a href='edall'>编辑汇总</a></li>

              <li class='nav-header'><h4><i  class="icon-star icon-black"></i>统计</h4></li>
              <li><a id='num-taskadd' href="taskadd">添加新任务</a></li>
              <li><a id='num-statstep' href="taskstep">指派任务</a></li>
              <li><a id='num-stepsubmit' href='tasksubmit'>提交任务</a></li>
              <li><a id='num-taskstep2' href='task'>任务列表</a><li>


                <li class='nav-header'><h4><i  class="icon-star icon-black"></i>监控</h4></li>
              <li><a id='num-taskadd' href="wpadd">添加人物</a></li>
              <li><a id='num-statstep' href="wpcheck">获取数据</a></li>
              <li><a id='num-taskstep2' href='wpmail'>发送邮件</a><li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% block body %}
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; InfoQ China 2012 </p>
        <p>Coded by <a href="http://weibo.com/magicshui">麦可思哲</a> | Hosted by <a href="http://sae.sina.com.cn">SAE</a></p>
      </footer>

    </div><!--/.fluid-container-->
    {% block tips %}
    {% endblock%}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='static/js/jquery-1.7.2.min.js'></script>
        <script src='static/js/jquery.joyride-1.0.3.js'></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>
    <script src="static/js/md5-min.js"></script>
    <script src="static/js/timeline.js"></script>
    <script src="static/js/timeline-embed.js"></script>
    <!--<script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
-->
    <script>
    $(document).ready(function(){
      $("#joyRideTipContent").hide();
      $("#show-guide").click(function(){
        <!-- fix the error when click help comes two or more guides-->
        $(".joyride-tip-guide").remove();
        
        $(this).joyride();
         $(".collapse").collapse();

      });

      
      {% block script %}
      {% endblock%}
    
    });
    </script>

  <script>
  {% block belowscript%}
  {%endblock%}
  </script>
    
<div class="modal hide fade" id="feedbackModal" style="display:none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Feedback</h3>
  </div>
  <div class="modal-body">

      <input type="text" id='feedback-title' name='title' class="input-small span5" placeholder="title">
      <br/>
      <textarea id='feedback-content' name='content' class='span5'></textarea>
      <br/>
      <button  id='feedback-btn' class="btn">提交</button>

  </div>
</div>

<div class="modal hide fade" id="loginModal" style="display:none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>登录</h3>
  </div>
  <div class="modal-body">
    <form class="well form-inline" action='login' method='post'>
      <input type="text" name='user' class="input-small" placeholder="Email">
      <input type="password" name='pwd' class="input-small" placeholder="Password">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">登录</button>
  </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">忘记密码？</a>
  </div>
</div>
  </body>
</html>