{% extends 'base_not.html' %}

{% block body %}
<form class="well form-inline" action="trellodone" method="POST" >
 <input id='num-0'type="text" name='name'class="input-small" placeholder="姓名">
 <input id='num-0'type="text" name='due'class="input-small" placeholder="完成时间">
 <input id='num-0'type="hidden" name='id' value='{{id}}'>
 <input id='num-0'type="hidden" name='cat' value="{{cat}}">

    <span class="help-inline">时间格式：2012-05-01</span>
  <button id='num-2' type="submit" class="btn">认领</button>
</form>
{% endblock %}