{% extends "base.html" %}
{%block script%}
    
   

show_trends(800,400,"http://infoqhelp.sinaapp.com/countweek", "#trends");

    
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    });   
    

{% endblock%}
{% block body %}

    <script type="text/javascript">


    </script>
<ul class="nav nav-pills" id="myTab">
  <li class="active"><a href="#week">本周</a></li>
     <li><a href="#lweek">上周</a></li>
  <li><a href="#month">本/上月</a></li>

    <li ><a href="#trends">内容走势</a></li>
 
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="week">
  <div class='well'>
    {{begin}}至{{end}}
   </div>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>类别</th>
            <th>本周</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="badge">总量</span>
            </td>
            <td>
             {{wl}}
            </td>
            
         
          </tr>
          <tr>
            <td>
              <span class="badge badge-success">新闻</span>
            </td>
            <td>
             {{wn}}
            </td>
           
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-warning">文章</span>
            </td>
            <td>
             {{wa}}
            </td>
           
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-important">演讲</span>
            </td>
            <td>
             {{wp}}
            </td>
           
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-info">采访</span>
            </td>
            <td>
             {{wi}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-inverse">迷你书</span>
            </td>
            <td>
             {{wm}}
            </td>
           
           
          </tr>
          
         
        </tbody>
      </table>
  </div>



<div class="tab-pane " id="lweek">
  <div class='well'>
    {{lbegin}}至{{lend}}
   </div>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>类别</th>
           
            <th>上周</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="badge">总量</span>
            </td>
           
             <td>
             {{lwl}}
            </td>
         
          </tr>
          <tr>
            <td>
              <span class="badge badge-success">新闻</span>
            </td>
          
            <td>
             {{lwn}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-warning">文章</span>
            </td>
           
            <td>
             {{lwa}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-important">演讲</span>
            </td>
           
            <td>
             {{lwp}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-info">采访</span>
            </td>
           
            <td>
             {{lwi}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-inverse">迷你书</span>
            </td>
            
            <td>
             {{lwm}}
            </td>
           
          </tr>
          
         
        </tbody>
      </table>
  </div>

  <div class="tab-pane" id="month">

<table class="table table-bordered table-striped">
   <thead>
          <tr>
            <th>类别</th>
            <th>本月</th>
            <th>上月</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="badge">总量</span>
            </td>
            <td>
             {{ml}}
            </td>
            <td>
             {{lml}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-success">新闻</span>
            </td>
            <td>
             {{mn}}
            </td>
             <td>
             {{lmn}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-warning">文章</span>
            </td>
            <td>
             {{ma}}
            </td>
            <td>
             {{lma}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-important">演讲</span>
            </td>
            <td>
             {{mp}}
            </td>
            <td>
             {{lmp}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-info">采访</span>
            </td>
            <td>
             {{mi}}
            </td>
            <td>
             {{lmi}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-inverse">迷你书</span>
            </td>
            <td>
             {{mm}}
            </td>
           <td>
             {{lmm}}
            </td>
           
          </tr>
          
         
        </tbody>
      </table>
</div>
    <div class="tab-pane " id="trends">
    
</div>
</div>

<!--
<div class='well'>
  本周：{{wl}}个内容。其中：{{wn}}个新闻，{{wa}}个文章，{{wp}}个演讲，{{wi}}个采访，{{wm}}迷你书
<hr/>
本月：{{ml}}个内容。其中：{{mn}}个新闻，{{ma}}个文章，{{mp}}个演讲，{{mi}}个采访，{{mm}}迷你书
</div>
<div class='well'>
  上周：{{lwl}}个内容。其中：{{lwn}}个新闻，{{lwa}}个文章，{{lwp}}个演讲，{{lwi}}个采访，{{lwm}}迷你书
<hr/>
上月：{{lml}}个内容。其中：{{lmn}}个新闻，{{lma}}个文章，{{lmp}}个演讲，{{lmi}}个采访，{{lmm}}迷你书
</div>
-->
{% endblock%}