{% extends "base.html" %}
{% block script%}
show_trends(850,200,"http://infoqhelp.sinaapp.com/countweekauthor?author={{author}}", "#trends");
$('.typehead').typeahead();
{% endblock%}
{% block body %}

<form class="well form-inline" action="countauthor" method="POST" >
  <input id='num-0'type="text"data-provide="typeahead" class='typehead' data-source="[{% for x in aus%}"{{x[0]}}",{% endfor%}'']" data-items="6" data-provide="typeahead" name='author'class="span6" placeholder="作者姓名">
<!--<select name='author'>
  {% for x in aus %}
    
  <option value="{{x[0]}}" selected >{{x[0]}}</option>

  {% endfor%}
</select>  -->

  <button id='num-2' type="submit" class="btn">确认</button>
</form>
<div class='well'><h3>{{author}}的工作历史数据</h3></div>
<div id="trends">

</div>
<hr/>
<table id='num=4' class="table table-striped">
  <thead>
    <tr>
       <th>时间</th>
       
      <th>标题</th>
     <th>作者</th>
  <th>类型</th>
  <th>工作量</th>
    </tr>
  </thead>
  <tbody>
    {% for x in res%}
    <tr>
        <td>{{x.RssInfo.pubdate}}</a></td>
      
      <td><a href="{{x.RssInfo.guid}}">{{x.RssInfo.title}}</a></td>
      <td>{{x.EditorCount2List.name}}</td>
      <td>{{x.EditorCount2List.comment}}</td>
      <td>{{x.EditorCount2List.count}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock%}