{% extends "base.html" %}
{%block script%}
     $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
{% endblock%}
{% block body %}
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#week">本周</a></li>
  <li><a href="#lweek">上周</a></li>
  <li><a href="#month">本月</a></li>
  <li><a href="#lmonth">上月</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="week">
		<table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>类别</th>
            <th>数量</th>
            <th>同比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="badge">总量</span>
            </td>
            <td>
             {{wl}}
            </td>
         
          </tr>
          <tr>
            <td>
              <span class="badge badge-success">新闻</span>
            </td>
            <td>
             {{wn}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-warning">文章</span>
            </td>
            <td>
             {{wa}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-important">演讲</span>
            </td>
            <td>
             {{wp}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-info">采访</span>
            </td>
            <td>
             {{wi}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-inverse">迷你书</span>
            </td>
            <td>
             {{wm}}
            </td>
           
          </tr>
          
         
        </tbody>
      </table>
	</div>
  <div class="tab-pane" id="lweek">  
		<table class="table table-bordered table-striped">
   <thead>
          <tr>
            <th>类别</th>
            <th>数量</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="badge">总量</span>
            </td>
            <td>
             {{lwl}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-success">新闻</span>
            </td>
            <td>
             {{lwn}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-warning">文章</span>
            </td>
            <td>
             {{lwa}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-important">演讲</span>
            </td>
            <td>
             {{lwp}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-info">采访</span>
            </td>
            <td>
             {{lwi}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-inverse">迷你书</span>
            </td>
            <td>
             {{lwm}}
            </td>
           
          </tr>
          
         
        </tbody>
      </table>

	</div>
  <div class="tab-pane" id="month">

<table class="table table-bordered table-striped">
   <thead>
          <tr>
            <th>类别</th>
            <th>数量</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="badge">总量</span>
            </td>
            <td>
             {{ml}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-success">新闻</span>
            </td>
            <td>
             {{mn}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-warning">文章</span>
            </td>
            <td>
             {{ma}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-important">演讲</span>
            </td>
            <td>
             {{mp}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-info">采访</span>
            </td>
            <td>
             {{mi}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-inverse">迷你书</span>
            </td>
            <td>
             {{mm}}
            </td>
           
          </tr>
          
         
        </tbody>
      </table>
</div>
  <div class="tab-pane" id="lmonth">
<table class="table table-bordered table-striped">
   <thead>
          <tr>
            <th>类别</th>
            <th>数量</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="badge">总量</span>
            </td>
            <td>
             {{lml}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-success">新闻</span>
            </td>
            <td>
             {{lmn}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-warning">文章</span>
            </td>
            <td>
             {{lma}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-important">演讲</span>
            </td>
            <td>
             {{lmp}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-info">采访</span>
            </td>
            <td>
             {{lmi}}
            </td>
           
          </tr>
          <tr>
            <td>
              <span class="badge badge-inverse">迷你书</span>
            </td>
            <td>
             {{lmm}}
            </td>
           
          </tr>
          
        </tbody>
      </table>
 </div>
</div>

<!--
<div class='well'>
  本周：{{wl}}个内容。其中：{{wn}}个新闻，{{wa}}个文章，{{wp}}个演讲，{{wi}}个采访，{{wm}}迷你书
<hr/>
本月：{{ml}}个内容。其中：{{mn}}个新闻，{{ma}}个文章，{{mp}}个演讲，{{mi}}个采访，{{mm}}迷你书
</div>
<div class='well'>
  上周：{{lwl}}个内容。其中：{{lwn}}个新闻，{{lwa}}个文章，{{lwp}}个演讲，{{lwi}}个采访，{{lwm}}迷你书
<hr/>
上月：{{lml}}个内容。其中：{{lmn}}个新闻，{{lma}}个文章，{{lmp}}个演讲，{{lmi}}个采访，{{lmm}}迷你书
</div>
-->
{% endblock%}