{% set base_cat = 'base_'+session['user'].cat+'.html' %}
{% extends base_cat %}

{% block body %}
<table id='num=4' class="table table-striped">
  <thead>
    <tr>
       <th>pubdate</th>
       
      <th>title</th>
     <th>原创</th>
     <th>审计</th>
     <th>策划</th>
 	<th>share</th>
    </tr>
  </thead>
  <tbody>
    {% for x in res%}

    <tr>
        <td>{{x.pubdate}}</a></td>
      
      <td>{{x.title}}</td>
 <td><a href="editorshow2?guid={{x.guid}}&version=1">原创</a></td>
       <td><a href="editorshow2?guid={{x.guid}}&version=2">审校</a></td>
        <td><a href="editorshow2?guid={{x.guid}}&version=3">策划</a></td>
      <td><a href="editorshare?guid={{x.guid}}" target="_blank">weibo</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    <ul class="pager">
    <li class="previous">
    <a href="editorcountall?page={{pre}}">&larr; 新的</a>
    </li>
    <li class="next">
    <a href="editorcountall?page={{next}}">以前的 &rarr;</a>
    </li>
    </ul>
{% endblock%}