{% extends 'base.html' %}

{% block body %}
<div class="row-fluid">
  <div class="">
    <div class="well">
        <table  width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody><tr>
                <td width="73px" valign="top" align="center"><img width="73px" border="0" align="default"  src="{{x.img}}"><div class="sep10"></div><strong class="online"></strong></td>
                <td width="10"></td>
                <td width="auto" valign="top" align="left">
                    <div class="fr">            
                    
                    </div>
                    <h1 style="margin-bottom: 5px;">{{x.name}}</h1>
                    <span class="icon-envelope "></span>公司：{{x.company}}<br/>
                    <span class="icon-home"></span>领域：{{x.area}}
                    <br/>
                    <span class="icon-home"></span>邮箱：{{x.email}}
                    <br/>
                    <span class="icon-home"></span>电话：{{x.phone}}
                  
                </td>
            </tr>
        </tbody></table>
    <hr/>
    
 
       
        <img align="absmiddle" src="http://www.sinaimg.cn/blog/developer/wiki/16x16.png">&nbsp;<a target="_blank" href="{{x.weibo}}">新浪微博</a><div class="sep5"></div>
        <img align="absmiddle" src="http://www.v2ex.com/static/img/mobileme.png">&nbsp;<a target="_blank" href="http://shui.us">http://shui.us</a><div class="sep5"></div>
        <img align="absmiddle" src="http://www.v2ex.com/static/img/location.png">&nbsp;<a target="_blank" href="http://www.google.com/maps?q={{x.location}}">{{x.location}}</a><div class="sep5"></div>
        
        <hr/>
        {{x.bio}}
    </div>
    
   
        
    
</div>
  </div>
   <p><a href="eupdate?id={{x.id}}" class="btn btn-primary">此信息有问题</a> <a href="mailto:arthur@infoq.com?subject=我想获取专家：{{x.name}} 的详细（包括银行账号、手机联系方式）" class="btn">获取详细信息</a></p>
{% endblock%}