{% extends 'base.html' %}
{% block body %}
<form class="well form-search" action='user/search' method='post' >
	 begin:<input type="text" name='begin'class="input-medium search-query">--end:
        <input type="text" name='end'class="input-medium search-query">
        <button type="submit" class="btn">搜索</button>
      </form>
  <table id='num=4' class="table table-striped">
  <thead>
    <tr>
       <th>title</th>
       
      <th>guid</th>
     <th>c1author</th>
       <th>c2author</th>
       <th>change</th>
    </tr>
  </thead>
  <tbody>
    {% for x in res%}

    <tr>
        <td>{{x.title}}</a></td>
      
      <td>{{x.guid}}</td>
      <td>{{x.c1author}}</td>
      <td>{{x.c2author}}</td>
      <td><a href="fshow?guid={{x.guid}}">change</a></td>
      <td><a href="fweibo?guid={{x.guid}}">weibo</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock%}