{% extends 'base.html' %}
{% block body %}
   <form class="form-horizontal well" method='post' action='fshow'>
        <fieldset>
          <legend>change</legend>
          <input type='hidden' name='pubdate' value='{{x.pubdate}}'> 
          <div class="control-group">
            <label for="input03" class="control-label">标题</label>
            <div class="controls">
              <input type="text" class='span4'id="input03" value='{{x.title}}' name='title' >
              <p class="help-block">输入标题</p>
            </div>
          </div>
          <div class="control-group">
            <label for="input04" class="control-label">链接</label>
            <div class="controls">
              <input type="text" class='span4'id="input04" value='{{x.guid}}'name='guid' >
              <p class="help-block">输入链接</p>
            </div>
          </div>
 <div class="control-group">
            <label for="input04" class="control-label">image</label>
            <div class="controls">
              <input type="text" id="input04" class='span4' value='{{x.img}}' name='img' >
              <p class="help-block">输入链接</p>
            </div>
          </div>
<hr/>
          <div class="control-group">
            
            <label for="input01" class="control-label">类型一</label>
            <div class="controls">
              <select id='num-1' name="c1cat" selected="{{x.c1cat}}">
<option value="翻译">翻译</option>
<option value="原创">原创</option>
<option value='投稿'> 投稿</option>
</select>
  <p class="help-block">设置类型1</p>
            </div>
          </div>

  <div class="control-group">
            <label for="input05" class="control-label">负责人</label>
            <div class="controls">
              <input type="text" id="input05"value='{{x.c1author}}' name='c1author' >
              <p class="help-block">输入责任编辑</p>
            </div>
          </div>
            <div class="control-group">
            <label for="input05" class="control-label">工程量</label>
            <div class="controls">
              <input type="text" id="input05" value='{{x.c1count}}' name='c1count' >
              <p class="help-block">输入责任编辑</p>
            </div>
          </div>
            
          <hr/>
              <div class="control-group">
            
            <label for="input01" class="control-label">类型2</label>
            <div class="controls">
              <select id='num-1' name="c2cat">
<option value="翻译">翻译</option>
<option value="原创">原创</option>
<option value='投稿'> 投稿</option>
</select>
 <p class="help-block">设置类型1</p>
            </div>
          </div>

  <div class="control-group">
            <label for="input05" class="control-label">负责人</label>
            <div class="controls">
              <input type="text" id="input015" value='{{x.c2author}}'name='c2author' >
              <p class="help-block">输入责任编辑</p>
            </div>
          </div>

            <div class="control-group">
            <label for="input015" class="control-label">工程量</label>
            <div class="controls">
              <input type="text" id="input051" value='{{x.c2count}}' name='c2count' >
              <p class="help-block">输入工程量</p>
            </div>
          </div>
             
        
      
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
{% endblock%}