{% extends 'base.html' %}
{% block body %}
   <form class="form-horizontal" method='post' action='jyi'>
        <fieldset>
          <legend>Add New</legend>
          <div class="control-group">
            
            <div class="control-group">
            <label for="input03" class="control-label">第多少期？</label>
            <div class="controls">
              <input type="text" id="input03" name='count' >
              <p class="help-block">输入多少期？</p>
            </div>
          </div>
            <label for="input01" class="control-label">类型</label>
            <div class="controls">
              <select id='num-1' name="cat">
<option value="head">头条</option>
<option value="down">最新文档下载</option>
<option value='event'>下周活动</option>
<option value='spon'>赞助商信息</option>

</select>
              <p class="help-block">类型</p>
            </div>
          </div>

         
          <div class="control-group">
            <label for="input03" class="control-label">标题</label>
            <div class="controls">
              <input type="text" id="input03" class='span5'name='title' >
              <p class="help-block">输入标题</p>
            </div>
          </div>
          <div class="control-group">
            <label for="input04" class="control-label">标题链接</label>
            <div class="controls">
              <input type="text" id="input04" class='span5' name='head_url' >
              <p class="help-block">输入标题指向的链接</p>
            </div>
          </div>
          <div class="control-group">
            <label for="input05" class="control-label">内容</label>
            <div class="controls">
              <textarea  name='content' class='span5'></textarea>
              <p class="help-block">输入内容的html格式<br/>其中，a的链接为&lt;a style="text-decoration: none; color: darkgreen;" &gt; &lt;/a&gt; </p>
            </div>
          </div>
          <div class="control-group">
            <label for="input06" class="control-label">图像地址</label>
            <div class="controls">
              <input type="text" id="input06" class='span5'name='img' >
              <p class="help-block">输入图像的地址</p>
            </div>
          </div>
          <div class="control-group">
            <label for="input06" class="control-label">图像跳转链接</label>
            <div class="controls">
              <input type="text" id="input06" class='span5'name='img_url' >
              <p class="help-block">输入图像跳转的地址</p>
            </div>
          </div>
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">提交</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
{% endblock%}