<!doctype html>
<html>
<head>
  <script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/static/js/turn.min.js"></script>

<style type="text/css">
body{
	background:#ccc;
}
.middle{margin-left:auto;margin-right:auto;test-align:center;}
#magazine{
	width:902px;
	height:650px;
}
#magazine .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}
</style>
</head>
<body>
<div>
	<h2 class="middle">架构师4月刊</h2>
</div>
<div id="magazine" class='middle'>
	<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.1.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.2.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.3.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.4.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.5.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.6.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.7.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.8.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.9.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.10.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.11.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.12.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.13.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.14.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.15.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.16.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.17.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.18.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.19.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.20.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.21.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.22.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.23.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.24.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.25.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.26.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.27.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.28.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.29.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.30.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.31.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.32.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.33.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.34.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.35.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.36.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.37.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.38.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.39.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.40.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.41.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.42.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.43.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.44.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.45.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.46.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.47.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.48.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.49.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.50.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.51.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.52.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.53.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.54.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.55.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.56.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.57.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.58.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.59.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.60.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.61.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.62.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.63.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.64.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.65.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.66.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.67.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.68.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.69.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.70.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.71.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.72.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.73.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.74.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.75.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.76.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.77.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.78.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.79.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.80.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.81.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.82.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.83.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.84.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.85.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.86.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.87.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.88.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.89.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.90.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.91.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.92.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.93.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.94.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.95.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.96.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.97.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.98.jpg);"></div>
<div style="background-image:url(https://github.com/infoq-china/infoq-online-magazine/raw/master/1204/jgs.99.jpg);"></div>
</div>


<script type="text/javascript">

	$(window).ready(function() {
		$('#magazine').turn({
							display: 'double',
							acceleration: true,
							gradients: !$.isTouch,
							elevation:50,
							when: {
								turned: function(e, page) {
									console.log('Current view: ', $(this).turn('view'));
								}
							}
						});
	});
	
	
	$(window).bind('keydown', function(e){
		
		if (e.keyCode==37)
			$('#magazine').turn('previous');
		else if (e.keyCode==39)
			$('#magazine').turn('next');
			
	});

</script>

</body>
</html>
