{% extends 'base.html' %}
{% block tips%}
<!-- Tip Content -->
    <ol id="joyRideTipContent">
      
      <li data-id="num-2" data-text="Next" class="custom">
        <h2>Step 1</h2>
        <p>点击发送</p>
      </li>
      
      <li data-id='num-3' date-text='Next'>
        <h2>Step 2</h2>
        <p>发送列表</p>
      </li>
      <li data-id='num-4' date-text='Close'>
        <h2>Step 3</h2>
        <p>运行结果</p>
      </li>
    </ol>
{% endblock%}
{% block body %}
<form class="well form-inline" action="weibos" method="POST" >

    <span class="help-inline">点击发送</span>
  <button id='num-2' type="submit" class="btn">发送</button>
</form>
<div id='num-4' class="alert alert-info">
  运行结果：{{r}}
</div>
<div id='num-3' class="alert alert-warnning">
	发送列表：
{% for x in res%}
<li>{{x}}</li>
{% endfor%}
	</div>

{% endblock %}