{% extends "base.html" %}
{% block tips %}
<!-- Tip Content -->
    <ol id="joyRideTipContent">
      <li data-id="num-0" data-text="Netxt" class="custom">
        <h2>Step 1</h2>
        <p>输入页码，其中页码从1开始，指的是获取的微博返回数据偏移量。</p>
      </li>
      <li data-id="num-1" data-text="Next" class="custom">
        <h2>Step 2</h2>
        <p>获取数据</p>
      </li>
      
      <li data-id='num-2' date-text='Next'>
        <h2>Step 3</h2>
        <p>总微博个数</p>
      </li>
      <li data-id='num-3' date-text='Next'>
        <h2>Step 4</h2>
        <p>部分数据</p>
      </li>
      
    </ol>
{% endblock%}
{% block body%}
	<form class="well form-inline" action="/weibor" method="POST" >
  <input id='num-0' type="text" name='page' class="input-small" placeholder="1">
  
    <span class="help-inline">输入页码</span>
  <button id='num-1' type="submit" class="btn">获取</button>
</form>
<hr/>


<div id='num-2' class="alert alert-info">
  共计：{{count}}条微博数据。
</div>
<table id='num-3' class="table table-striped">
  <thead>
    <tr>
    	<th>微博时间</th>
      <th>类型</th>
      <th>标题</td>
      	<th>作者</th>
      	<th>url</th>
      	<th>微博</th>
      	<th>转发</th>
      	<th>评论</th>
    </tr>
  </thead>
  <tbody>
  	{% for x in r%}
    	<td>{{x.time}}</td>
      <td>{{x.cat}}</td>
	<td>{{x.title}}</td>
	<td>{{x.athur}}</td>
	<td>{{x.url}}</td>
	<td>{{x.org_url}}</td>
	<td>{{x.retweet}}</td>
	<td>{{x.comment}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock%}