{% extends 'base.html' %}
{% block tips%}
    <ol id="joyRideTipContent">
      
      <li data-id='num-2' date-text='Next'>
        <h2>获取数据</h2>
        <p>点击将会手动更新数据。</p>
      </li>
      <li data-id='num-4' date-text='Next'>
        <h2>部分数据</h2>
        <p>这里展示的是获得部分数据。</p>
      </li>
      <li data-id='num-5' date-text='Close'>
        <h2>结果</h2>
        <p>运行结果。</p>
      </li>
    </ol>
{% endblock%}
{% block body %}
<form class="well form-inline" action="wpcheck" method="POST" >
  <button id='num-2' type="submit" class="btn">获取新的数据</button>
</form>

<table id='num=4' class="table table-striped">
  <thead>
    <tr>
       <th>评论</th>
        <th>转发</th>
        
      <th>人物</th>
      <th>微博时间</th>
      <th>内容</td>
      
      
    </tr>
  </thead>
  <tbody>
    {% for x in res%}

    <tr>
        <td>{{x.comment}}</td>
        <td>{{x.retweet}}</td>
      <td>{{x.screen_name}}</td>
      <td>{{x.time}}</td>
    <td><a href='{{x.url}}' alt="{{x.url}}">{{x.text}}</a></td>

    </tr>
    {% endfor %}
  </tbody>
</table>
<div id='num-5' class="alert alert-info">
  运行结果：{{r}}
</div>
{% endblock %}