{% extends 'base.html' %}
{% block tips%}
<!-- Tip Content -->
        <ol id="joyRideTipContent">
      
      <li data-id='num-0' date-text='Next'>
        <h2>评论数量</h2>
        <p>输入过滤条件，评论的数量。</p>
      </li>
      <li data-id='num-0-1' date-text='Next'>
        <h2>转发数量</h2>
        <p>输入过滤条件，转发的数量。</p>
      </li>
      <li data-id='num-1' date-text='Close'>
        <h2>条件关系</h2>
        <p>或者&并且</p>
      </li>
      <li data-id='numm-1' date-text='Close'>
        <h2>排序依据</h2>
        <p></p>
      </li>
    </ol>
{% endblock%}
{% block body %}
<form class="well form-inline" action="wpconfig" method="POST" >
<input id='num-0'type="text" name='comment'class="input-small" placeholder="输入评论最低值">
 <select id='num-1' name="relation">
<option value="and">且</option>
<option value="or">或</option>
</select>
<input id='num-0-1'type="text" name='retweet'class="input-small" placeholder="输入转发最低值">
 排序依据<select id='numm-1' name="order">
<option value="retweet">转发</option>
<option value="comment">评论</option>
</select>
 
    <span id='num-2' class="help-inline"></span>
  <button type="submit" class="btn">确认</button>
</form>
<div id='num3' class="alert alert-warnning">
  当前设置：<br/>
  转发：{{res.retweet}}<br/>
  评论: {{res.comment}}<br/>排序依据：{{res.order}}<br/>条件关系：{{res.relation}}
	</div>
<div id='num-4' class="alert alert-info">
  运行结果：{{r}}
</div>
{% endblock %}